@use '../styles/variables' as *;
@use '../styles/light-theme' as *;
@use '../styles/dark-theme' as *;
@use './_variables' as *;
@use './_mixins' as *;

@include mobile {
  .sidebar {
    width: 100%;
    top: 20px;
    background-color: white;
  }

  .sidebar-container {
    position: sticky;
    top: 0px;
    z-index: 9999999;
    height: 124px;
    overflow: hidden;
    overflow-y: scroll;
  }
}

@include tablet {
  .sidebar {
    width: 100%;
  }

  .sidebar-container {
    position: sticky;
    top: 0px;
    z-index: 9999999;
    height: 162px;
    min-height: 162px;
    background-color: white;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

    // overflow: hidden;
    // overflow-y: scroll;
  }

  .recently {
    display: none;
  }
}

@include desktop {
  .sidebar {
    width: 15%;
  }

  .sidebar-container {
    position: sticky;
    top: 0;
  }
}

.sidebar {
  float: left;
}

.right {
  float: right !important;

  a {
    color: #000080;
  }
}

.sidebar-container {
  position: sticky;
  top: 10px;
}

.site-wrapper {
  padding: 3vw;
  // min-height: 100vh;
  position: sticky;
  top: 0px;
  // height: 3000px;

  // background-repeat: repeat;
}
@media (max-width: 800px) {
  .site-wrapper {
    padding: 6vw;
  }
}

.snow {
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;

  width: 100%;
  margin-left: -5%;
}

@media (prefers-reduced-motion: reduce) {
  .snow {
    display: none;
  }
}
